<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "css/style.css">
</head>
<body class="homePageBody">
    <section class="mainHomePageContainer">
        <section class="infoBoxHomePage">
            <h1>Stay Structured</h1>
            <p>We provide you with everything you need to stay on track and knock out your tasks, helping you find that extra time for you and your family.</p>
            <div class="buttonWrapper">
                <a class="anchorButton" href="/planner"><button class="mainPageButton">GET STARTED</button></a>
            </div>
        </section>
    </section>
</body>
</html>