<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3a68ff822.js" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "css/style.css">
</head>
<body>
    <section class="listPageContainer">
        <nav>
            <h2>Stay Structured</h2>
            <ul>
                <li>Movies to Watch</li>
                <li>Groceries</li>
                <li>Places to Eat</li>
                <li>Chores</li>
            </ul>
        </nav>
        <section class="rightContainerList">
            <h1>Movies to Watch</h1>
            <form action="/todos/createMovie" method='POST'>
                <input type="text" placeholder="Enter Movie to Watch" name='movie'>
                <input type="submit">
            </form>
                <% movieList.forEach( item => { %>
                    <section class="listedThingsToDo">
                            <h3><%= item.title %></h3><i class="fa-solid fa-circle-minus"></i>
                    </section>
                <% }) %>    
        </section>
    </section>
</body>
</html>