/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.homePageBody{
    background-image: url("/photos/calm.jpg");
    background-size: cover;
}

.mainHomePageContainer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    height: 100vh;
}

.infoBoxHomePage{
    height: 75vh;
    width: 60%;
    background-color: rgba(35, 65, 75, .85);
    border-radius: 5%;
}

.infoBoxHomePage > h1{
    color: white;
    font-size: 64px;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    margin-bottom: 0;
    padding-top: 15%;
}

.infoBoxHomePage > p{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    padding: 5%;
}

.mainPageButton{
    background-color:rgb(216, 196, 188);
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
}

.mainPageButton:hover{
    background-color:rgb(236, 181, 157);
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
}

/* Nav Page & First Lists */

.listPageContainer{
    display: flex;
}

nav{
    width: 30%;
    height: 100vh;
    padding-top: 5%;
}

nav > h2{
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 40px;

}

li{
    list-style-type: none;
    padding: 10px 0;
    font-family: 'Titillium Web', sans-serif;
}

ul{
    margin-top: 40%;
}

.rightContainerList{
    width: 70%;
    background-color: rgba(35, 65, 75, .85);
    padding: 0 20px;
    padding-top: 5%;
}

.rightContainerListGroceries{
    width: 70%;
    background-color: rgba(228, 153, 238, 0.85);
    padding: 0 20px;
    padding-top: 5%;
}

.rightContainerListEat{
    width: 70%;
    background-color: rgba(43, 117, 49, 0.85);
    padding: 0 20px;
    padding-top: 5%;
}

.rightContainerList > h1{
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 40px;
    color: white;
}

.rightContainerListGroceries > h1{
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 40px;
    color: white;
}

.rightContainerListEat > h1{
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 40px;
    color: white;
}

.listedThingsToDo{
    background-color: white;
    border-radius: 5px;
    margin: 3% 0;
    display: flex;
    /* justify-content: space-between; */
    padding-right: 3%;
    padding-left: 3%;
}

.listedThingsToDo > h3{
    padding: 1%;
    align-self: flex-start;
}

.deleteMovie, .deleteGrocery, .deleteRestaurant{
    color: rgb(190, 81, 81);
    cursor: pointer;
    display: block;
    align-self: center;
    margin-left: auto;
}

.completeCircle{
    cursor: pointer;
    display: block;
    align-self: center;
    color: rgba(35, 65, 75, .85);
}

.checkedCompleteCircle{
    cursor: pointer;
    display: block;
    align-self: center;
    color: rgba(35, 65, 75, .85);
}

.completeCircle2{
    cursor: pointer;
    display: block;
    align-self: center;
    color: rgba(209, 104, 223, 0.85);
}

.checkedCompleteCircle2{
    cursor: pointer;
    display: block;
    align-self: center;
    color: rgba(209, 104, 223, 0.85);
}

.completeCircle3{
    cursor: pointer;
    display: block;
    align-self: center;
    color: rgba(88, 182, 96, 0.85);
}

.checkedCompleteCircle3{
    cursor: pointer;
    display: block;
    align-self: center;
    color: rgba(88, 182, 96, 0.85);
}